body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
   
    z-index: 9;
    width: 100%;
    padding-top: 16px;
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 0px;
}

.navbar-brand img{
    width: 100%;
}

.ml-left{
    margin-left: 50px;
}

.navbar-toggler-icon .icon-bar{
    background-color: #333;
    display: block;
    width: 22px;
    height: 4px;
    border-radius:1px ;
    margin: 5px;
}



button,
button:focus{
    outline: none;
    border-color: transparent!important;
}

.navbar-nav li a{
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;  
    font-family: 'Poppins', sans-serif;
}

.social-icons-header{
    position: absolute;
    right: 25px;
    top: 26px;
}

@media screen and (max-width: 1000px){
    .mobile-nav{
        background: #c4c4c4;
        display: flex;
        justify-content: space-between;
    }

    .navbar-nav li a{
        color: #fff!important;
    }

    
    .social-icons-header{
        position:unset;
        align-self: flex-end;
        margin: 15px;        
    }

    .social-icons-header li a i{
     background-color: transparent !important;
     width: 20px!important;
     height: 20px!important;
     text-align: center!important;
    }
}

.social-icons-header li a i{
font-size: 20px;
color: #1b1a65;
background-color: #fff;
border-radius: 50%;
width: 36px;
height: 36px;
text-align: center!important;
padding: 9px;
}

/*  ======NAv END ======*/
/*  ======BANNER ======*/

.banner-inner h2{
    color: #150025;
    margin-top: 270px;
    margin-bottom: -170px;
}

.banner-inner p{
    font-weight: 400;
    margin-bottom: 48px;
    margin-top: 200px;
}

a.btn-seemore{
    padding: 15px 50px;
    border-radius: 20px;
    color: #fff;
    background: #dc3545;
    text-decoration: none;
    text-align: center;
    z-index: 99;
    transition: all .5s ease;
    position: relative;
}

a.btn-seemore:hover{
 
    border-radius: 5px;
}
 

/* ====wrap css start==== */
body {
    position: relative;
}

.wrap{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.wrap .bg{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
background: url(../images/bg.png) no-repeat center center;
background-size: cover;
transform: scale(1.1);
}

.bgcolor-2{
    background: #8e8e8e59;
    position: absolute;
    height: 100vh;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: 45%;
    overflow: hidden;
    transition: all 2s ease;
}

.bgcolor-1{
    background: #eca60859;
    position: absolute;
    width: 55%;
    height: 100vh;
    top: 0;
    left:0;
    z-index: 2;
    overflow: hidden;
    transition: all 2s ease;
}

.bgcolor-1:hover{
    width: 65%;
}
.bgcolor-1.blur{
    width:45%
}
.bgcolor-2.blur{
    width: 35%;
}

.bgcolor-2:hover{
    width: 55%;
}

.bgcolor-1:hover .pizza-img-box img.left{
    right: 54px;
}

.bgcolor-2.blur .pizza-img-box img.right{
    margin-left: -357px;
    left: 0px;
}

.bgcolor-1.blur .pizza-img-box img.left {
    margin-right: -377px;
    right: 0px;
}

.box-main-wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.pizza-img-box img {
    width: 600px;
    position: absolute;
	transition:all ease 2s;
}
.pizza-img-box img.right {
    margin-left: -220px;
    bottom: -72px;
    left: -82px;
}
.pizza-img-box img.left {
    margin-right: -300px;
    bottom: -72px;
    right: 0px;
}











.bgcolor-2:hover .box img.right{
    margin-left: -220px;
    left: -9px;
}





/* ====wrap css end==== */